<div class="card">

<div class="w-full max-h-25 overflow-hidden">
  <img src=""alt="Aqui ira la imagen del banner" class="w-full object-cover h-full" />
</div>


   <p-toolbar [style]="{ 'background-color': '#131921', 'border': '1px solid #131921', 'border-radius' : '0'} ">

  <ng-template pTemplate="start">
    <span class="text-xl font-bold text-stone-50">MiLogo</span>
  </ng-template>

  <ng-template pTemplate="center"  >
    <form class="relative mx-auto w-full sm-[400px] md:w-[500px]  lg:w-[600px] xl:w-[700px]" >   
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar..." required />
    </div>
</form>
  </ng-template>


</p-toolbar>
    <p-menubar [model]="AppMenuItems" [style]="{ 'border': '1px solid black', 'border-radius' : '0'} ">
          <ng-template #end>
            <div class="flex items-center gap-2">
                <p-menu #menu [model]="menun" [popup]="true" />
                <p-avatar (click)="menu.toggle($event)" image="https://res.cloudinary.com/ddfgborfk/image/upload/v1751496180/usuarios/2/opqbsstjlak0x1lseo1t.jpg" shape="circle" />
            </div>
        </ng-template>
    </p-menubar>

<p-dialog [(visible)]="showDialogRegister" [style]="{ width: '700px' }" styleClass="!shadow !dark:border" header="Create an account" [modal]="true">
    <ng-template #content>
        <app-register (onUserCreated)="handleRegisterResult($event)"></app-register>
    </ng-template>
</p-dialog>


<div class="card flex justify-center">
<p-dialog maskStyleClass="backdrop-blur-sm " [(visible)]="showDialoglogin" styleClass="!border-0 ">
    <ng-template #headless>
       <app-login></app-login>
    </ng-template>
</p-dialog>
</div>


</div>
<p-toast></p-toast> 
<router-outlet />
