<div class="card">
    <p-menubar [model]="items"   >
          <ng-template #end>
            <div class="flex items-center gap-2">
                <p-menu #menu [model]="menun" [popup]="true" />
                <p-avatar (click)="menu.toggle($event)" image="https://res.cloudinary.com/ddfgborfk/image/upload/v1751496180/usuarios/2/opqbsstjlak0x1lseo1t.jpg" shape="circle" />
            </div>
        </ng-template>
    </p-menubar>

<p-dialog [(visible)]="showDialogRegister" [style]="{ width: '700px' }" styleClass="!shadow !dark:border" header="Create an account" [modal]="true">
    <ng-template #content>
        <app-register (onUserCreated)="handleRegisterResult($event)"></app-register>
    </ng-template>
</p-dialog>


<div class="card flex justify-center">
<p-dialog maskStyleClass="backdrop-blur-sm " [(visible)]="showDialoglogin" styleClass="!border-0 ">
    <ng-template #headless>
        
    </ng-template>
</p-dialog>
</div>


</div>
<p-toast></p-toast> 
<router-outlet />
